*{
    margin: 0;
    padding: 0;
}
ol{
    list-style: none;
}
h3,
h4,
h5,
h6{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}
p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
}
footer{
    background: #005BC1;
}