.footer__top{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0;
}
.footer__center__top{
    display: flex;
    justify-content: space-between;   
    padding: 20px 0 0 0;
}
.footer__center__bottom{
    display: flex;
    justify-content: space-between;  
    padding: 20px 0 0 0;
}
.footer__bottom{
    display: flex;
    justify-content: space-between; 
    padding: 20px 0 20px 0;  
}
.footer__number{
    color: white;
    padding-left: 150px;
}
.footer__address{
    color: white;
}
.footer__amail{
    color: white;
    padding-right: 150px;
}
.com{
    color: white;
    padding-left: 150px;
}
.cat{
    color: white;
    padding-right: 50px;
}
.pro{
    color: white; 
    padding-right: 700px;
}
.new{
    color: white; 
    padding-left: 150px;
}
.rent{
    color: white; 
    padding-left: 50px;
}
.ser{
    color: white; 
    padding-right: 700px;
}
.security{
    color: white; 
    padding-left: 150px;
}
.web{
    color: white; 
    padding-right: 150px;
}
footer{
    margin-top: 60px;
}
