.hero__top{
    display: flex;
}
.decor__project{
    padding: 156px 20px 0 150px;
}
h3{
    padding: 156px 0 0 0;
}
.left{
    padding: 156px 0 0 650px;
}
.right{
    padding: 156px 0 0 0;
}
.border__project{
    padding: 20px 40px 10px 20px;
    margin: -130px 0 0 450px;
    position: absolute;
    background: #fff;
}
.ssk{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}
.border__project--2{
    position: absolute;
    padding: 20px 40px 10px 20px;
    margin: -130px 0 0 300px;
    background: #fff;
    
}
.hero__bottom{
    display: flex;
    padding-top: 35px;
}
.project1{
    margin-left: 150px;
    margin-right: 10px;
}