.news__top{
    display: flex;
    align-items: center;
}
.decor__new{
    padding: 156px 20px 0 150px;
}
.more__news{
    margin: 156px 0 0 660px;
    padding: 15px 34px 14px 34px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #005BC1;
}
h6{
    padding: 156px 0 0 0;
}
.new__left__top__box{
    display: flex;
    padding: 35px 0 0 0;
}
.new__left__img{
    width: 230px;
    padding: 0 0 0 150px;
}
.new__left__top{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    padding-left: 15px;
}
.new__left__text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
    margin: -165px 0 0 380px;
    padding-left: 15px;
}
.left__date{
    padding-left: 50px;
}
.new__continued{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #343434;
    padding-top: 10px;
}
.new__bottom__center{
    padding: 35px 0 0 60px;
}
.new__bottom{
    display: flex;
}
.new__center__img__date{
    display: flex;
    padding-top: 5px;
}
.new__center__top{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}
.new__center__text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
    padding-top: 5px;
}
.new__center__date{
    padding: 100px 0 0 20px;
}
.new__right__img__date{
    display: flex;
}
.new__right__top{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}
.new__right__text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;  
    color: #343434;  
    padding-top: 5px; 
}
.new__right__date{
    padding: 100px 0 0 20px;
}
.new__bottom__right{
    padding: 35px 0 0 60px;
}
.new__right__img{
    padding-top: 5px;
}